<div class="py-10 mt-25">
    <h1 class="text-5xl text-gray-900 text-center font-bold mt-10">Lose Yourself in a Story</h1>
    <h1 class="text-5xl text-gray-900 text-center font-bold mt-4 py-2">
        Find Yourself in <span class="italic text-white bg-black px-6 py-1">Books</span>
    </h1>
</div>